frontend/Web References/localhost/GymMeWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="registerNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DOB" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registerNewUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateUserProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DOB" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateUserProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateUserProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeUserPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="changeUserPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllUser">
        <s:complexType />
      </s:element>
      <s:element name="getAllUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSupplementList">
        <s:complexType />
      </s:element>
      <s:element name="getSupplementListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSupplementListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addNewCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="supplementId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addNewCartResponse">
        <s:complexType />
      </s:element>
      <s:element name="getCartList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCartListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCartListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="clearCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="clearCartResponse">
        <s:complexType />
      </s:element>
      <s:element name="createNewTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createNewTransactionResponse">
        <s:complexType />
      </s:element>
      <s:element name="getAllTransactionHeaderById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTransactionHeaderByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTransactionHeaderByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTransactionHeader">
        <s:complexType />
      </s:element>
      <s:element name="getAllTransactionHeaderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTransactionHeaderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTransactionDetailById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTransactionDetailByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTransactionDetailByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createNewSupplement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TypeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createNewSupplementResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateSupplement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="supplementId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TypeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSupplementResponse">
        <s:complexType />
      </s:element>
      <s:element name="deleteSupplement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="supplementId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteSupplementResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="registerNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:registerNewUser" />
  </wsdl:message>
  <wsdl:message name="registerNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:registerNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="updateUserProfileSoapIn">
    <wsdl:part name="parameters" element="tns:updateUserProfile" />
  </wsdl:message>
  <wsdl:message name="updateUserProfileSoapOut">
    <wsdl:part name="parameters" element="tns:updateUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="changeUserPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:changeUserPassword" />
  </wsdl:message>
  <wsdl:message name="changeUserPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:changeUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="getUserSoapIn">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="getUserSoapOut">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="getAllUserSoapIn">
    <wsdl:part name="parameters" element="tns:getAllUser" />
  </wsdl:message>
  <wsdl:message name="getAllUserSoapOut">
    <wsdl:part name="parameters" element="tns:getAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="getSupplementListSoapIn">
    <wsdl:part name="parameters" element="tns:getSupplementList" />
  </wsdl:message>
  <wsdl:message name="getSupplementListSoapOut">
    <wsdl:part name="parameters" element="tns:getSupplementListResponse" />
  </wsdl:message>
  <wsdl:message name="addNewCartSoapIn">
    <wsdl:part name="parameters" element="tns:addNewCart" />
  </wsdl:message>
  <wsdl:message name="addNewCartSoapOut">
    <wsdl:part name="parameters" element="tns:addNewCartResponse" />
  </wsdl:message>
  <wsdl:message name="getCartListSoapIn">
    <wsdl:part name="parameters" element="tns:getCartList" />
  </wsdl:message>
  <wsdl:message name="getCartListSoapOut">
    <wsdl:part name="parameters" element="tns:getCartListResponse" />
  </wsdl:message>
  <wsdl:message name="clearCartSoapIn">
    <wsdl:part name="parameters" element="tns:clearCart" />
  </wsdl:message>
  <wsdl:message name="clearCartSoapOut">
    <wsdl:part name="parameters" element="tns:clearCartResponse" />
  </wsdl:message>
  <wsdl:message name="createNewTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:createNewTransaction" />
  </wsdl:message>
  <wsdl:message name="createNewTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:createNewTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="getAllTransactionHeaderByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTransactionHeaderById" />
  </wsdl:message>
  <wsdl:message name="getAllTransactionHeaderByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTransactionHeaderByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllTransactionHeaderSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTransactionHeader" />
  </wsdl:message>
  <wsdl:message name="getAllTransactionHeaderSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTransactionHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="getAllTransactionDetailByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTransactionDetailById" />
  </wsdl:message>
  <wsdl:message name="getAllTransactionDetailByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTransactionDetailByIdResponse" />
  </wsdl:message>
  <wsdl:message name="createNewSupplementSoapIn">
    <wsdl:part name="parameters" element="tns:createNewSupplement" />
  </wsdl:message>
  <wsdl:message name="createNewSupplementSoapOut">
    <wsdl:part name="parameters" element="tns:createNewSupplementResponse" />
  </wsdl:message>
  <wsdl:message name="updateSupplementSoapIn">
    <wsdl:part name="parameters" element="tns:updateSupplement" />
  </wsdl:message>
  <wsdl:message name="updateSupplementSoapOut">
    <wsdl:part name="parameters" element="tns:updateSupplementResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSupplementSoapIn">
    <wsdl:part name="parameters" element="tns:deleteSupplement" />
  </wsdl:message>
  <wsdl:message name="deleteSupplementSoapOut">
    <wsdl:part name="parameters" element="tns:deleteSupplementResponse" />
  </wsdl:message>
  <wsdl:portType name="GymMeWebServiceSoap">
    <wsdl:operation name="registerNewUser">
      <wsdl:input message="tns:registerNewUserSoapIn" />
      <wsdl:output message="tns:registerNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateUserProfile">
      <wsdl:input message="tns:updateUserProfileSoapIn" />
      <wsdl:output message="tns:updateUserProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="changeUserPassword">
      <wsdl:input message="tns:changeUserPasswordSoapIn" />
      <wsdl:output message="tns:changeUserPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input message="tns:getUserSoapIn" />
      <wsdl:output message="tns:getUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllUser">
      <wsdl:input message="tns:getAllUserSoapIn" />
      <wsdl:output message="tns:getAllUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSupplementList">
      <wsdl:input message="tns:getSupplementListSoapIn" />
      <wsdl:output message="tns:getSupplementListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addNewCart">
      <wsdl:input message="tns:addNewCartSoapIn" />
      <wsdl:output message="tns:addNewCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCartList">
      <wsdl:input message="tns:getCartListSoapIn" />
      <wsdl:output message="tns:getCartListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="clearCart">
      <wsdl:input message="tns:clearCartSoapIn" />
      <wsdl:output message="tns:clearCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createNewTransaction">
      <wsdl:input message="tns:createNewTransactionSoapIn" />
      <wsdl:output message="tns:createNewTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTransactionHeaderById">
      <wsdl:input message="tns:getAllTransactionHeaderByIdSoapIn" />
      <wsdl:output message="tns:getAllTransactionHeaderByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTransactionHeader">
      <wsdl:input message="tns:getAllTransactionHeaderSoapIn" />
      <wsdl:output message="tns:getAllTransactionHeaderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTransactionDetailById">
      <wsdl:input message="tns:getAllTransactionDetailByIdSoapIn" />
      <wsdl:output message="tns:getAllTransactionDetailByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createNewSupplement">
      <wsdl:input message="tns:createNewSupplementSoapIn" />
      <wsdl:output message="tns:createNewSupplementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateSupplement">
      <wsdl:input message="tns:updateSupplementSoapIn" />
      <wsdl:output message="tns:updateSupplementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteSupplement">
      <wsdl:input message="tns:deleteSupplementSoapIn" />
      <wsdl:output message="tns:deleteSupplementSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GymMeWebServiceSoap" type="tns:GymMeWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registerNewUser">
      <soap:operation soapAction="http://tempuri.org/registerNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserProfile">
      <soap:operation soapAction="http://tempuri.org/updateUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeUserPassword">
      <soap:operation soapAction="http://tempuri.org/changeUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUser">
      <soap:operation soapAction="http://tempuri.org/getAllUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupplementList">
      <soap:operation soapAction="http://tempuri.org/getSupplementList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewCart">
      <soap:operation soapAction="http://tempuri.org/addNewCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCartList">
      <soap:operation soapAction="http://tempuri.org/getCartList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearCart">
      <soap:operation soapAction="http://tempuri.org/clearCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewTransaction">
      <soap:operation soapAction="http://tempuri.org/createNewTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTransactionHeaderById">
      <soap:operation soapAction="http://tempuri.org/getAllTransactionHeaderById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTransactionHeader">
      <soap:operation soapAction="http://tempuri.org/getAllTransactionHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTransactionDetailById">
      <soap:operation soapAction="http://tempuri.org/getAllTransactionDetailById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewSupplement">
      <soap:operation soapAction="http://tempuri.org/createNewSupplement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSupplement">
      <soap:operation soapAction="http://tempuri.org/updateSupplement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSupplement">
      <soap:operation soapAction="http://tempuri.org/deleteSupplement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GymMeWebServiceSoap12" type="tns:GymMeWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registerNewUser">
      <soap12:operation soapAction="http://tempuri.org/registerNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserProfile">
      <soap12:operation soapAction="http://tempuri.org/updateUserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeUserPassword">
      <soap12:operation soapAction="http://tempuri.org/changeUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap12:operation soapAction="http://tempuri.org/getUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUser">
      <soap12:operation soapAction="http://tempuri.org/getAllUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupplementList">
      <soap12:operation soapAction="http://tempuri.org/getSupplementList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewCart">
      <soap12:operation soapAction="http://tempuri.org/addNewCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCartList">
      <soap12:operation soapAction="http://tempuri.org/getCartList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearCart">
      <soap12:operation soapAction="http://tempuri.org/clearCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewTransaction">
      <soap12:operation soapAction="http://tempuri.org/createNewTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTransactionHeaderById">
      <soap12:operation soapAction="http://tempuri.org/getAllTransactionHeaderById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTransactionHeader">
      <soap12:operation soapAction="http://tempuri.org/getAllTransactionHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTransactionDetailById">
      <soap12:operation soapAction="http://tempuri.org/getAllTransactionDetailById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewSupplement">
      <soap12:operation soapAction="http://tempuri.org/createNewSupplement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSupplement">
      <soap12:operation soapAction="http://tempuri.org/updateSupplement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSupplement">
      <soap12:operation soapAction="http://tempuri.org/deleteSupplement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GymMeWebService">
    <wsdl:port name="GymMeWebServiceSoap" binding="tns:GymMeWebServiceSoap">
      <soap:address location="https://localhost:44374/Service/GymMeWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="GymMeWebServiceSoap12" binding="tns:GymMeWebServiceSoap12">
      <soap12:address location="https://localhost:44374/Service/GymMeWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>